<!-- Block contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 forma" style="float: right;">
                <h4>GET IN TOUCH</h4>
                <ul class="adress_partners relativ">
                    <li>The CDI Scotsbridge House,</li>
                    <li> Scots Hill, Rickmansworth,</li>
                    <li>Herts,</li>
                    <li>WD3 3BB,</li>
                    <li>United Kingdom</li>

                </ul>

                <ul>
                    <li style="text-decoration: underline;"><a href="#">View on a map</a></li>
                </ul>

                <ul class="relativ forms_contact_phones">

                    <li class="phone_partners relativ">+44(0) 1923 695 298</li>
                    <li class="fax relativ">+44(0) 1923 695 298</li>
                    <li class="mail_partners relativ"><a href="#">cdi@holstein-uk.org</a></li>

                </ul>
                <img class="contact_img" src="img/house.png" alt="home">
            </div>
            <div class="col-md-7 col-sm-12 text_contact" style="float: left; ">
                <div class="form-wrapper">
                    <h4>CONTACT FORM</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <input name="name" type="text" placeholder="Name*">
                        </div>
                        <div class="col-sm-6">
                            <input name="email" type="text" placeholder="Email address*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input name="subject" type="text" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea placeholder="message" name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 required_fields" style="float: right;">
                            <p>Required fields*</p>
                        </div>
                        <div class="col-sm-7 capcha_float">
                            <div class="capcha">
                                <img class="contact_img" src="img/google-captcha.png" alt="capcha">
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn_darck_2 contact_form_button">SEND MESSAGE</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- end block contact -->