<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- Block dashboard -->
            <div class="dashboard">
                <iframe class="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2475.8674886016433!2d-0.46141608411483737!3d51.64395180853056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48766a324289674b%3A0x6b4aa1983b5ebd61!2sHolstein+UK!5e0!3m2!1sru!2skg!4v1449946711376"  height="100%" width="100%"  allowfullscreen></iframe>
            </div>
            <!-- end block dashboard -->

        </div>

    </div>
</div>
