<!-- Block certificates -->
<div class="certificates">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Block dashboard -->
                <div class="dashboard">
                </div>
                <!-- end block dashboard -->

                <!-- Block lid -->
                <div class="lid">

                    <h3>MEMBER</h3>
                    <p>
                        You currently have an option to either generate certificates via a herd list or view downloaded certificates. Please use the links below to access ?these facilities
                    </p>
                </div>
                <!-- end block lid -->
            </div>

        </div>
    </div>
</div>
<!-- end block certificates -->

