<!--Navigation_footer-->
<nav>
    <div class="container-fluid">
        <!--visible_menu_footer-->
        <div class="container visible_menu_footer">
            <div class="row">
                <div class="col-sm-3 ">
                    <h4>LINKS <img src="img/Icons/links_icon.png" alt=""></h4>
                    <ul>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Cookie policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4>ABOUT <img src="img/Icons/about_icon.png" alt=""></h4>
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About the CDI</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4>TOOLS <img src="img/Icons/tools_icon.png" alt=""></h4>
                    <ul>
                        <li><a href="#">Bull Selector</a></li>
                        <li><a href="#">WebMate</a></li>
                        <li><a href="#">WebReg</a></li>
                        <li><a href="#">Virtual Cow</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h4>CONTACT US <img src="img/Icons/contact_icon.png" alt=""></h4>
                    <ul>
                        <li><a href="#">Tel: +44(0) 1923 695 298</a></li>
                        <li><a href="#">Email: info@holstein-uk.org</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <span class="footer_copy">© Centre for Dairy Information 2015</span>
            </div>
        </div>
        <!--//visible_menu_footer-->

        <!-- Block hidden_menu_footer -->
        <div class="hidden_menu_footer">
            <div class="bs-example">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span></span>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span></span><h4>
                                    LINKS</h4></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Sign in</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Cookie policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span></span><h4>
                                    ABOUT</h4></a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About the CDI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span></span>
                                    <h4>TOOLS</h4></a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Bull Selector</a></li>
                                    <li><a href="#">WebMate</a></li>
                                    <li><a href="#">WebReg</a></li>
                                    <li><a href="#">Virtual Cow</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span></span> <h4>
                                    CONTACT</h4></a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Tel: +44(0) 1923 695 298</a></li>
                                    <li><a href="#">Email: info@holstein-uk.org</a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="footer_copy_media_small">© Centre for Dairy Information 2015</span>
        </div>
        <!-- end block hidden_menu_footer -->
    </div>
</nav>
<!--//Navigation_footer-->