<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!--Up_item-->
            <div class="row up_item">
                <div class="col-sm-6 item clicks" id="item1">
                    <div class="img-wrap"><img src="img/item1.jpg" alt=""></div>
                    <div class="text_item">
                        <a href="#"><h3>KNOWLEDGE CENTRE</h3></a>
                        <p class="hidden-text item1">CDI has collated the results recorded in the UK for Registered
                            animals from lactations produced over the two forage seasons
                            from spring 2013 to autumn 2014
                        </p>
                        <div class="btn-wrap main-hidden-button">

                            <a href="#" class="btn_primary">KNOWLEDGE CENTRE</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item clicks" id="item2">
                    <div class="img-wrap"><img src="img/item2.jpg" alt=""></div>
                    <div class="text_item">
                        <a href="#"><h3>BREEDING IMPROVEMENT</h3></a>
                        <p class="hidden-text item2">CDI has collated the results recorded in the UK for Registered
                            animals from lactations produced over the two forage seasons
                            from spring 2013 to autumn 2014
                        </p>

                        <div class="btn-wrap main-hidden-button">

                             <a href="#" class="btn_primary">BREEDING IMPROVEMENT</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--//Up_item-->
            <!--Down_item-->
          <div class="row down_item">
              <div class="col-md-4 item clicks" id="item3">
                  <div class="img-wrap"><img src="img/item3.jpg" alt=""></div>
                  <div class="text_item">
                      <a href="#"><h3>LATEST NEWS</h3></a>
                      <div class="view-wrap">
                          <a href="#" class="btn_reverse view">VIEW</a>
                      </div>
                      <p class="hidden-text item3">CDI has collated the results recorded in the UK for Registered
                          from spring 2013 to autumn 2014
                      </p>
                  </div>
              </div>
              <div class="col-md-4 item clicks" id="item4">
                  <div class="img-wrap"><img src="img/item4.jpg" alt=""></div>
                  <div class="text_item">
                      <a href="#"><h3>EVENTS</h3></a>
                      <div class="view-wrap">
                          <a href="#" class="btn_reverse view">VIEW</a>
                      </div>
                      <p class="hidden-text item4">CDI has collated the results recorded in the UK for Registered
                          animals from lactations produced over the two forage seasons
                          from spring 2013 to autumn 2014
                      </p>
                  </div>
              </div>
              <div class="col-md-4 item clicks" id="item5">
                  <div class="img-wrap"><img src="img/item5.jpg" alt=""></div>
                  <div class="text_item">
                      <a href="#"><h3>PARTNERS</h3></a>
                      <div class="view-wrap">
                          <a href="#" class="btn_reverse view">VIEW</a>
                      </div>
                      <p class="hidden-text item5">CDI has collated the results recorded in the UK for Registered
                          animals from lactations produced over the two forage seasons
                      </p>
                  </div>
              </div>
          </div>
            <!--//Down_item-->
      </div>
  </div>
</div>
