<!-- Block knowledge_center_item -->
<div class="knowledge_center_item">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="knowledge_center_item_part_1 col-md-6">

                    <div class="row">
                        <h3>Heath</h3>

                        <p>As the health and welfare of UK herds is fundamental to the bottom line of any dairy...</p>
                    </div>
                    <div class="row item-wrap">
                        <div class="col-sm-4">
                            <div class="item item_1">
                                <div class="bg_item">
                                    <span>NADIS</span>

                                    <p>National Animal Disease Information Service</p>
                                    <br>

                                    <div class="view-wrap">
                                        <a href="#" class="btn_reverse view">VIEW</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item item_2">
                                <div class="bg_item">
                                    <span>DISEASE SUMMARIES</span>

                                    <p></p>
                                    <br>
                                    <div class="view-wrap">
                                        <a href="#" class="btn_reverse view">VIEW</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item item_3">
                                <div class="bg_item">
                                    <span>CHAWG</span>

                                    <p>Cattle Health and Welfare Group</p>
                                    <br>
                                    <div class="view-wrap">
                                        <a href="#" class="btn_reverse view">VIEW</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="knowledge_center_item_part_2 col-md-6">
                    <div class="row">
                        <h3>MANAGEMENT</h3>
                        <p>As the health and welfare of UK herds is fundamental to the bottom line of any dairy...</p>
                    </div>
                    <div class="row item-wrap">

                            <div class="col-sm-6">
                                <div class="item item_3">
                                    <div class="bg_item">
                                        <span>DIARY SOLUTION</span>


                                        <div class="view-wrap">
                                            <br>
                                            <a href="#" class="btn_reverse view">VIEW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item item_3">
                                    <div class="bg_item">
                                        <span>KINGSHAY</span>

                                        <div class="view-wrap">
                                            <br>
                                            <a href="#" class="btn_reverse view">VIEW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end block knowledge_center_item -->