<!-- Block button_partner -->
<div class="button_partner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="button_partner-wrap-button">
                    <button class="btn_darck activ">BREED SOCIETIES</button>
                    <button class="btn_darck">CONCEPT PARTNERS</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end block button_partner -->

<!-- Block information_partners -->
<div class="information_partners">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wrap-information_partners">
                    <p>Click on any of the following breed names to find out more information about partners. For
                        specific queries click on the email address. For more information about partners.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end block information_partners -->

<!-- Block partner_items -->
<div class="partner_items">
    <div class="container">
        <div class="row">
            <div class="item partner_item">
                <div class="arrow_slide">
                    <img src="img/Icons/arrow_slide.png" alt="slide" id="partner_1" class="toogle-img-partners">
                </div>
                <h4>AYRSHIRES CATTLE SOCIETY</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/ayrshire_weblogo.png" alt="logo_partners">
                    </div>
                    <div class="partner_1 partner">
                        <div class="col-sm-4">
                            <ul class="adress_partners">
                                <li>Westburn House McNee Road</li>
                                <li>PRESTWICK</li>
                                <li>South Ayrshire</li>
                                <li>KA9 2PB</li>
                                <li>United Kingdom</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="man"><a href="#">Claire Kimm - Office Manager</a></li>
                                <li class="phone_partners">+44 (0) 129 247 1292</li>
                                <li class="mail_partners"><a href="#">society@ayrshirescs.org</a></li>
                                <li class="man"><a href="#">Duncan Hunter - Breed Manager</a></li>
                                <li class="phone_partners">07771 826403</li>
                                <li class="web_partners"><a href="#">www.ayrshire.co.uk</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item partner_item">
                <div class="arrow_slide">
                    <img src="img/Icons/arrow_slide.png" alt="slide" id="partner_2" class="toogle-img-partners">
                </div>
                <h4>BRITISH BLUE CATTLE SOCIETY</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/ayrshire_weblogo-copy.png" alt="logo_partners">
                    </div>
                    <div class="partner_2 partner">
                        <div class="col-sm-4">
                            <ul class="adress_partners">
                                <li>Blackhamilton Farm</li>
                                <li>Blackford</li>
                                <li>CARLISLE</li>
                                <li>CA6 4EJ</li>
                                <li>United Kingdom</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="man"><a href="#">Andy Ryder</a></li>
                                <li class="phone_partners">+44 (0) 176 888 775</li>
                                <li class="phone_partners">+44 (0) 176 888 779</li>
                                <li class="mail_partners"><a href="#">info@britishbluecattle.org</a></li>
                                <li class="web_partners"><a href="#">www.britishbluecattle.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item partner_item">
                <div class="arrow_slide">
                    <img src="img/Icons/arrow_slide.png" alt="slide" id="partner_3" class="toogle-img-partners">
                </div>
                <h4>BRITISH FRIESIAN BREEDERS CLUB</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/brc3.png" alt="logo_partners">
                    </div>
                    <div class="partner_3 partner">
                        <div class="col-sm-4">
                            <ul class="adress_partners">
                                <li>Scotsbridge House</li>
                                <li>Scots Hill</li>
                                <li>Rickmansworth</li>
                                <li>Hertfordshire</li>
                                <li>WD3 3BB?United Kingdom</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="man"><a href="#">David Armett - Secretary</a></li>
                                <li class="phone_partners">+44 (0)1530 223446</li>
                                <li class="phone_partners">+44 (0)7947 600418</li>
                                <li class="mail_partners"><a href="#">david@temraa.plus.com</a></li>
                                <li class="web_partners"><a href="#">www.britishfriesian.co.uk</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<!-- end block partner_items -->