<!-- Block setrificates -->
<div class="sertificates">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!--H2-title-->
                <div class="row">
                    <div class="h2_wrap">
                        <h2>CERTIFICATES</h2>
                        <span class="setrificates_h2_span">REQUEST NEW CERTIFICATE</span>
                    </div>

                </div>
                <!--/H2-title-->
                <!-- text+arrew-->
                <div class="row">
                    <div class="text-wrap">
                        <p>Click on one of the links below to download your available batch certificate documents
                            (6).
                            <img src="img/img_1.png" alt="arow"></p>
                    </div>
                </div>
                <!-- /text+arrew-->
                <!-- sertificates-->
                <div class="wrap-sertificat">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                    <span>new</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                    <span>new</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="img/sertificat.png" alt="sertificat">

                                <div class="wrap-h5-div-span">
                                    <h5>CERTIFICATE NAME</h5>

                                    <div class="date">24/11/15-20:30</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /sertificates-->
                <!-- NB-->
                <div class="row">
                    <p>NB: Downloaded batch certificate documents are available for a 48 hour period only. This isto
                        ensure out of date certificates are not stored.</p>
                </div>
                <!-- /NB-->

            </div>
            <div class="col-md-4">
                <div class="wrap-porfile">
                    <h4>MY PROFILE</h4>
                    <div class="wrap-li">
                        <div class="b">
                            <ul>
                                <li><b>Full name:</b> </li>
                                <li><b>Phone:</b> </li>
                                <li><b>Prefix:</b> </li>
                                <li><b>PIN:</b> </li>
                            </ul>
                        </div>

                        <div class="bt">
                            <ul>
                                <li>Isaychev Aleksandr</li>
                                <li>+44 (0) 845 055 9783</li>
                                <li>Scotbridge</li>
                                <li>1223456</li>
                            </ul>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<!-- end block setrificates -->