.section_1
	.navbar-default .navbar-nav  li  a,
	.navbar-default .navbar-nav  li  a:hover,
	.navbar-default .navbar-nav  li  a:focus
		color: $black
	.dropdown
		padding-left: 12px
		padding-top: 10px
		a.dropdown-toggle
			background-image: url('../img/menu2.png')
			background-position: center
			background-repeat: no-repeat
	.buttonsearch
		i
			color: $black




//hidden menu for small display
.nav_hidden
	display: none
	position: fixed
	left: 50%
	transform: translateX(-50%)
	background-color: $white
	width: 100%
	z-index: 1000
	margin: 0
	padding-right: 0

	.navbar-default
		margin: 0
		.navbar-nav .open  a,
		.navbar-nav a
			background-color: $white
		.navbar-nav .open  a:hover,
		.navbar-nav .open  a:focus
			background-color: $bg_hover_navigation
		.glyphicon
			color: $black




	ul
		float: right
		.buttonsearch i
			color: $black
		.dropdown a.dropdown-toggle
			background-image: url('../img/menu2.png')
		.search
			width: 74px
			padding: 0 5px
			height: 66px
			border-right: 1px solid $nav-bordeer
			border-left: 1px solid $nav-bordeer
			a
				height: 100%
				width: 100%
				display: block
		.dropdown-menu
			margin-top: 0
			left: - 164px

	#formsearch3
		width: 50%
		margin: 20px auto
		color: $black
	.navbar-default .navbar-nav li.search
		padding: 22px 14px 25px
		//border-right: 1px solid red
		//border-left: 1px solid red
		a
			padding: 22px 45px 44px 25px
			margin: -22px -12px -25px
			cursor: pointer
			background-position: center


#ul-dubble_menu
	border-left: 1px solid $nav-bordeer
	li
		border-right: 1px solid $nav-bordeer

.dubble_menu_wrapper
	border-left: 1px solid $nav-bordeer

.nav_dubble_menu
	border-bottom: 1px solid $nav-bordeer
	margin-top: -20px
	margin-bottom: -1px
	z-index: 1000
	background: $white




.navbar-fixed-top
	margin-bottom: 0

#buttonsearch1
	padding: 0

.li_buttonsearch1
	padding: 24px

#searchsubmit1
	padding-bottom: 7px
